<div class="post">
  <div class="post__header">
    <p class="post__header__title">{{post.title}}</p>
    <div class="post__header__user" *ngIf="user">
      <p class="post__header__user__name">{{user.name}}</p>
      <p class="post__header__user__email">({{user.email}})</p>
    </div>
  </div>
  <div class="post__body" [innerHTML]="post.body"></div>
  <div class="post__comments">
    <div *ngIf="showComments" [@commentsList]="comments.length">
      <p class="post__comments__empty" *ngIf="!comments.length">There is no comments :(</p>
      <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
    </div>
    <span class="post__comments__btn" (click)="toggleComments()">
      <span>comments</span>
      <i class="fas fa-chevron-up" [ngClass]="{'fa-chevron-up': showComments,'fa-chevron-down': !showComments}"></i>
    </span>
  </div>
</div>
